<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="price-dropdown">
        <div class="price-select">
            <span class="price-selected">USD</span>
            <div class="price-caret"></div>
        </div>
        <ul class="price-menu">
            <li class="price-active">USD</li>
            <li>UGX</li>
            <li>KSH</li>
            <li>RwF</li>
        </ul>
    </div>
    <script src="js/script.js"></script>
</body>

</html>